:root {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    width: 100%;
}

.container {
    max-width: 1288px;
    width: 100%;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    //overflow-x: hidden;

    @include medium {
        padding: 0 20px;
    }
}

.mainSection {
    //padding: 70px 0 140px 0;
    padding-top: 70px;
    padding-bottom: 140px;
    gap: 104px;
    overflow-x: hidden;
    
    @include flex-column;

    @include medium {
        padding-top: 40px;
    }
}

.promotion {
    @include flex-between;

    // @include medium {
    //     @include flex-column;
    // }
}

.illustration {
    object {
        @include large {
            width: 100%;
            margin-left: -24px;
        }
    
        @include medium {
            display: none;
        }
    }
}

.illustrationHiden {
    @include medium {
        width: 100%;
    }

    object {
        display: none;

        @include medium {
            display: block;
            width: 75%;
            margin: 0 auto;
        }

        @include mobile-l {
            width: 100%;
        }
    }
}

.promotionContent {
    @include flex-column;
    gap: 35px;
    align-items: start;

    h1 {
        max-width: 530px;

        @include medium {
            align-self: flex-start;
            max-width: 100%;
        }
    }

    p {
        max-width: 498px;

        @include medium {
            width: 100%;
            max-width: 100%;
        }
    }

    @include medium {
        width: 100%;
        align-items: center;
    }
}

#booking {
    color: $light;
    display: block;
    background-color: $secondary;
    border: 0;
    
    @include button;

    @include medium {
        width: 100%;
    }
}

.brandPartners {
    @include flex-between;
    @include flex-align-center;
    gap: 90px;

    animation: scroll 15s linear infinite;

    svg {
        flex-shrink: 0;
    }
}

.brandPartnersRevers {
    animation: scrollRevers 15s linear infinite;
}

.brandPartnersLayout {
    @include flex-column;
    gap: 20px;
}

.brandPartnersScroll {
    display: flex;
    gap: 90px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 90px));
    }
}

@keyframes scrollRevers {
    from {
        transform: translateX(calc(-100% - 90px));
    }
    to {
        transform: translateX(0);
    }
}

.defaultTitle {
    @include flex-align-center;
    gap: 40px;
    margin-bottom: 80px;

    h2 {
        background-color: $primary;
        border-radius: 7px;
        padding: 0 7px;

        @include medium {
            text-align: center;
        }
    }

    p {
        max-width: 580px;

        @include medium {
            text-align: center;
        }
    }

    @include e-medium {
        gap: 24px;
    }

    @include medium {
        gap: 30px;
        flex-direction: column;
    }
}

.defaultTitleFIX {
    span {
        display: inline-block;
    }

    @include medium {
        h2 {
            background: transparent;
            border-radius: 0;
            padding: 0;
            @include flex-column;
            align-items: center;
    
            span {
                background-color: $primary;
                border-radius: 7px;
                padding: 0 7px;
            }
        }
    }
}

.services {
    padding-bottom: 100px;
}

.servicesCards {
    // @include flex-row;
    // justify-content: center;
    // flex-wrap: wrap;
    // gap: 40px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    justify-content: center;

    @include e-large {
        gap: 24px;
    }

    @include medium {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

.cardDefault  {
    border: 1px solid $secondary;
    border-radius: 45px;
    padding: 50px;
    max-width: 600px;
    //width: 100%;
    box-shadow: 0 5px 0 0 $secondary;

    @include flex-between;
    flex-grow: 1;

    & > div{
        @include flex-column;
        @include flex-between;
        width: 100%;

        & > div {
            @include flex-column;
            align-items: flex-start;
        }

        @include e-medium {
            gap: 27px;
        }
    }

    h3 {
        border-radius: 7px;
        padding: 0px 7px;
        display: inline-block;

        @include large {
            font-size: 28px;
        }
    }

    a {
        h4 {
            @include e-medium {
                display: none;
            }
        }
    }

    .learnMore {
        @include e-medium {
            width: 100%;
            align-items: flex-end;
            justify-content: space-between;
        }
    }

    @include medium {
        width: 100%;
    }
}

.learnMoreImg {
    max-height: 100%;
    width: auto;

    @include large {
        max-height: 72.5%;
        align-self: center;
    }

    @include e-medium {
        display: none;
    }
}

.learnMoreImgHiden {
    display: none;

    @include e-medium {
        display: block;
        max-height: 129px;
        align-self: flex-end;
    }
}

.learnMore {
    @include flex-align-center;
    gap: 15px;

    h4 {
        font-weight: 400;
    }
}

.card1 {
    background-color: $light;

    h3 {
        background-color: $primary;
    }
}

.card2 {
    background-color: $primary;

    h3 {
        background-color: #FFFFFF;
    }
}

.card3 {
    background-color: $secondary;

    h3 {
        background-color: #FFFFFF;
    }

    h4 {
        color: #FFFFFF;
    }
}

.card4 {
    background-color: $light;

    h3 {
        background-color: $primary;
    }
}

.card5 {
    background-color: $primary;

    h3 {
        background-color: #FFFFFF;
    }
}

.card6 {
    background-color: $secondary;

    h3 {
        background-color: $primary;
    }

    h4 {
        color: #FFFFFF;
    }
}

.proposalBannerLayout {
    padding: 23px 0 163px 0;
}

.proposalBanner {
    border-radius: 45px;
    padding: 60px;
    width: 100%;
    background-color: $light;
    position: relative;
    overflow: visible; // Дозволяє виходити за межі елемента

    @include flex-column;
    gap: 26px;
    align-items: start;

    @include e-medium {
        align-items: stretch;
    }

    @include medium {
        padding: 50px;
    }

    h3 {
        @include e-medium {
            align-self: center;
        }
    }

    &::before {
        content: "";
        background-image: url("../img/proposalBanner.svg");
        background-repeat: no-repeat;
        background-position: right center;
        position: absolute;
        top: -6%;
        right: 0;
        bottom: -6%;
        left: 0;
        z-index: 1;
        background-size: contain;
        pointer-events: none;

        margin-right: 135px;

        @include large {
            margin-right: 84px;
        }

        @include e-medium {
            display: none;
        }
    }

    p {
        max-width: 500px;

        @include e-medium {
            max-width: 100%;
        }
    }
}

.secondaryBtn {
    @include button;
    background-color: $secondary;
    color: #FFFFFF;
}

.casesLayout {
    padding-bottom: 140px;

    .defaultTitle {
        h2 {
            white-space: nowrap;
        }
    }
}

.casesBanner {
    background-color: $secondary;
    border-radius: 45px;
    padding: 70px 60px;
    width: 100%;
    position: relative;
    left: 0;
    transition: 0.1s ease-out;

    @include flex-between;
    
    p {
        color: #FFFFFF;
        max-width: 286px;
        margin-bottom: 20px;
    }

    h4 {
        color: $primary;
    }

    span {
        border: 1px solid #FFFFFF;

        @include large {
            display: none;
        }
    }

    @include large {
        padding: 42px 50px;
        gap: 24px;
    }

    @include medium {
        background-color: transparent;
        padding: 0;
        // overflow: hidden;
    }
}

.casesContainer {
    @include medium {
        overflow-x: hidden;
        padding-right: 0;
    }
}

.caseSlide {
    @include medium {
        background-color: $secondary;
        border-radius: 45px;
        padding: 42px 50px;
        flex-shrink: 0;
    }

    @include mobile-l {
        max-width: calc(100% - 20px);
        width: 100%;
    }
}

.workingProcess {
    padding-bottom: 140px;
    
    .defaultTitle {
        p {
            max-width: 292px;
        }
    }
}

.dropDownLayout {
    @include flex-column;
    gap: 30px;
}

.dropDownMenu {
    // @include flex-column;
    // gap: 30px;

    border: 1px solid $secondary;
    border-radius: 45px;
    padding: 41px 60px;
    width: 100%;

    box-shadow: 0 5px 0 0 $secondary;
    background-color: $light;

    transition: 0.3s ease-in-out;

    @include medium {
        padding: 30px;
    }
}

.dropDownMenuActive {
    background-color: $primary;
}

.dropDownTitle {
    @include flex-align-center;
    @include flex-between;
    gap: 15px;

    div {
        @include flex-align-center;
        gap: 25px;

        span {
            font-size: map-get($font-d, "h1");
            line-height: 140%;

            @include medium {
                font-size: 45px;
            }

            @include mobile-l {
                font-size: 30px;
            }
        }

        h3 {
            font-family: $font-R;

            @include medium {
                font-size: 22px;
            }

            @include mobile-l {
                font-size: 18px;
            }
        }
    }
}

.dropDownText {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #000;
    transition: 0.3s ease-in-out;
    overflow: hidden;
}

.dropDownHiden {
    border: 0px solid transparent;
    padding: 0;
    margin: 0;
    line-height: 0px;
    color: transparent;
}

.dropDownBTN {
    padding: 16px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: $light;
    display: inherit;
    position: relative;
    transition: 0.3s ease-in-out;

    height: 58px;
    width: 58px;

    &::before {
        content: "";
        width: 24.4px;
        height: 6px;
        margin: 10px 0;
        background-color: $secondary;

        @include mobile-l {
            height: 3px;
            width: 13px;
            margin: 5px 0;
        }
    }

    &::after {
        content: "";
        width: 24.4px;
        height: 6px;
        margin: 10px 0;
        background-color: $secondary;
        transform: rotate(90deg);
        position: absolute;
        transition: 0.3s ease-in-out;
        box-sizing: content-box;

        @include mobile-l {
            height: 3px;
            margin: 5px 0;
            width: 13px;
        }
    }

    @include medium {

    }

    @include mobile-l {
        width: 30px;
        height: 30px;
        padding: 8px;
    }
}

.dropDownBTNActive {
    &::after {
        content: "";
        transform: rotate(0deg);
    }
}

.teamCardLayout {
    // @include flex-row;
    // justify-content: center;
    // gap: 40px;
    // flex-wrap: wrap;

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    @include large {
        grid-template-columns: repeat(2, 1fr);
    }

    @include medium {
        gap: 30px;
        grid-template-columns: 1fr;
    }
}

.teamSection {
    padding-bottom: 100px;

    .defaultTitle {
        p {
            max-width: 473px;
        }
    }
}

.teamCard {
    border: 1px solid $secondary;
    border-radius: 45px;
    padding: 40px 35px;
    box-shadow: 0 5px 0 0 $secondary;
    max-width: 387px;

    figure {
        @include flex-row;
        align-items: flex-end;
        gap: 20px;

        img {
            max-width: 102px;
            max-height: 102px;
        }
    }

    @include large {
        max-width: 100%
    }
}

.teamCardContent {
    @include flex-between;
    gap: 10px;
    padding-bottom: 28px;
}

.teamCardText {
    border-top: 1px solid #000;
    padding-top: 28px;
    //max-width: 317px;
}

.teamBtnContainer {
    @include flex-row;
    justify-content: flex-end;
    padding-top: 40px;

    @include medium {
        justify-content: center;
    }

    button {
        @include medium {
            width: 100%;
        }
    }
}

.testimonialsLayout {
    padding-bottom: 140px;

    .defaultTitle {
        p {
            max-width: 490px;
        }
    }
}

.slider {
    border-radius: 45px;
    background-color: $secondary;
    padding: 84px 0 30px 0;
    overflow: hidden;

    @include mobile-l {
        padding: 30px 0 30px 0;
    }
}

.sliderWrapper {
    @include flex-row;
    gap: 50px;
    position: relative;
    transition: 0.3s ease-in-out;
    left: 0;
}

.slide {
    max-width: 606px;
    flex-shrink: 0;

    @include medium {
        max-width: 450px;
    }

    @media (max-width: 620px) {
        max-width: 340px;
    }

    @include mobile-l {
        max-width: 300px;
    }

    @include mobile-m {
        max-width: 270px;
    }
}

.slideContent {
    padding: 48px 52px;
    border-radius: 45px;
    border: 2px solid $primary;
    position: relative;
    margin-bottom: 48px;

    @include medium {
        padding: 30px 36px;
    }

    @include mobile-l {
        padding: 30px 30px;
    }

    p {
        color: #FFFFFF;
        // max-width: 502px;
    }

    &::before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 29px 27px 0 27px;
        border-color: $primary transparent transparent transparent;

        position: absolute;
        bottom: -29px;
        left: 56px;

        @include medium {
            left: calc(56px - 10px);
        }

        @include mobile-l {
            left: calc(56px - 20px);
        }
    }

    &::after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 29px 27px 0 27px;
        border-color: $secondary transparent transparent transparent;

        position: absolute;
        bottom: -26.5px;
        left: 56px;

        @include medium {
            left: calc(56px - 10px);
        }

        @include mobile-l {
            left: calc(56px - 20px);
        }
    }
}

.slideUser {
    padding-left: 80px;
    color: #FFFFFF;

    h4 {
        color: #FFFFFF;
    }

    p {
        color: #FFFFFF;
    }

    @include medium {
        padding-left: calc(80px - 10px);
    }

    @include mobile-l {
        padding-left: calc(80px - 20px);
    }
}

.sliderControls {
    @include flex-between;
    max-width: calc(564px - 30px);
    margin: 0 auto;
    align-items: center;
    margin-top: 106px;
    padding: 0 30px;

    @include mobile-l {
        margin-top: 60px;
    }
}

#moveSlideLeft,
#moveSlideRight {
    background-color: transparent;
    //width: 50px;
    //height: 50px;
    border: 0;
    //padding: 12px;
    transition: 0.3s ease-in-out;
}


.sliderMarkers {
    @include flex-row;
    gap: 16px;
    
    button {
        background: transparent;
        border: 0;
        padding: 2px;
        
        height: 18px;
        width: 18px;

        svg {
            transition: 0.3s ease-in-out;
        }
    }
}

.sliderMarkerActive {
    svg {
        fill: $primary;
    }
}

.contactUsLayout {
    border-radius: 45px;
    padding: 60px 100px 80px 100px;
    background-color: $light;
    position: relative;
    width: 100%;

    form {
        @include flex-column;
        gap: 40px;
        align-items: flex-start;
        max-width: 556px;
        width: 100%;

        @include e-medium {
            align-items: center;
            margin: 0 auto;
        }
    }

    &::after {
        content: "";
        background-image: url("../img/contactUsBg.svg");
        background-repeat: no-repeat;
        background-position: right center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        // background-size: contain;
        pointer-events: none;

        @include large {
            background-size: calc(368px - 52px);
        }

        @include e-medium {
            background-image: none;
            display: none;
        }
    }

    @include medium {
        padding: 40px 50px;
    }

    @include mobile-l {
        padding: 40px 30px;
    }
}

.formInputsLayout {
    @include flex-column;
    gap: 25px;
    width: 100%;

    div {
        @include flex-column;
        gap: 5px;

        input,
        textarea {
            padding: 18px 30px;
            border: 1px solid $secondary;
            border-radius: 14px;
            width: 100%;
            background-color: #FFFFFF;
        }
    }
}

.contactUs {
    margin-bottom: 140px;

    .defaultTitle {
        p {
            max-width: 323px;
        }
    }
}

#sendMessage {
    width: 100%;
}

.checkBoxLayout {
    @include flex-row;
    gap: 35px;

    div {
        @include flex-row;
        gap: 14px;
    }
}

.checkBox {
    border-radius: 50%;
    border: 1px solid $secondary;
    width: 28px;
    height: 28px;
    background-color: #FFFFFF;
    padding: 6px;
    cursor: pointer;
}

.checkBoxPlaceholder {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.checkBoxActive {
    background-color: $primary;
}

#userMessage {
    min-height: 190px;
}

//
section,
.mainSection,
.services,
.proposalBannerLayout,
.casesLayout,
.workingProcess,
.teamSection,
.testimonialsLayout,
.contactUs {
    @include large {
        //padding-top: 45px;
        padding-bottom: 70px;
    }

    @include medium {
        //padding-top: 45px;
        padding-bottom: 70px;
    }

    @include mobile-l {
        //padding-top: 45px;
        padding-bottom: 60px;
    }
}

