header {
    padding-top: 60px;
    
    @include flex-between;
    @include flex-align-center;

    nav {
        max-width: 811px;
        width: 100%;
        
        @include flex-between;
        @include flex-align-center;
    }
}

#requestBtn {
    color: $text-color;
    background: transparent;
    border: 1px solid $secondary;
    cursor: pointer;

    @include button
}

