$font-M: "SpaceGrotesk-M";
$font-R: "SpaceGrotesk-R";

$text-color: #000000;

// colors
$primary: #B9FF66;
$secondary: #191A23;
$light: #F3F3F3;

// font size desktop
$font-d: (
    "h1": 60px,
    "h2": 40px,
    "h3": 30px,
    "h4": 20px,
    "p": 18px,
);

// font size mobile
$font-mobile: (
    "h1": 43px,
    "h2": 36px,
    "h3": 26px,
    "h4": 18px,
    "p": 16px,
);

// breakpoints
$breakpoint: (
    "e-large": 1440px,
    "large": 1180px,
    "e-medium": 1024px,
    "medium": 768px,
    "mobile-l": 432px,
    "mobile-m": 375px,
    "mobile-s": 320px, 
);

// flex
@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
}

@mixin flex-align-center {
    display: flex;
    align-items: center;
}

@mixin button {
    font-size: map-get($font-d, "h4");
    font-weight: 400;
    padding: 20px 35px;
    border-radius: 14px;
    cursor: pointer;
    line-height: 140%;
    border: 0;
}

@mixin secondaryBtnResponse {
    transition: 0.15s ease-in-out;

    &:hover {
        background-color: #4d4d4d;
    }

    &:active {
        background-color: #727272;
    }

    @include medium {
        &:hover {
            background-color: $secondary;
        }

        &:active {
            background-color: #4d4d4d;
        }
    }
}
